<div class="main">
    <div class="products">
        @if (loading()) {
            <p>Carregando carrinho...</p>
        } 
        @else if (!cart() || cart().items.length === 0) {
            <p>Seu carrinho está vazio.</p>
        } 
        @else {
            @for (item of cart().items; track item.id) {
                <cart-item [item]="item" (cartChanged)="loadCart()"></cart-item>
            }
        }
    </div>

    <div class="finalize">
        <hr>
        <div class="totalPrice">
            <p>Total</p>
            <span class="price">{{ cart().totalValue | currency:'USD':'symbol': '1.2-2' }}</span>
        </div>
        <button class="submit" (click)="checkout()">Finalizar Compra</button>
    </div>
</div>
