main {
    background-color: var(--dark-blue);
    background-image: url("/images/textures/texture1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 80px 120px;
}

.content {
    background-color: var(--bg-color);
    padding: 32px;
    border-radius: 20px;
    width: 100%;
}