.card {
    width: 300px;
    height: 377px;
    padding: 40px 16px;

    background-color: var(--bg-color);
    border-radius: 10px;
    color: var(--dark-blue);

    display: flex;
    flex-direction: column;
    gap: 24px;

    box-shadow: 1px 1px 2px 1px #989b9dcc;

    transition: transform 1s ease;
    transition: box-shadow 1s ease;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 1px 1px 2px 1px #989b9dcc;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    align-items: center;
}

img {
    width: 100%;
    height: 217px;
}

h3 {
    font-family: "Bebas Neue";
    font-size: 32px;
}

p {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
}
